.container
	.row
		.col-xs-12
			%h1
				Discussions

	.row
		.col-xs-12
			%table.table
				%thead
					%th
					%th Stats
					%th Last Post
				- @discussions.each do |discussion|
					%tr
						%td
							= link_to discussion.title, discussion_path( discussion )
						%td
							= discussion.topics.count
							Topics
							%br
							= discussion.posts.count
							Posts
						%td
							- if discussion.last_post.is_a?( SwellSocial::DiscussionTopic )
								%a{ href: swell_social.discussion_topic_path( discussion, discussion.last_post, page: discussion.last_post.paginated_page ) }
									= discussion.last_post.created_at.to_s( :long )
									by
									= discussion.last_post.user
							- else
								%a{ href: swell_social.discussion_topic_path( discussion, discussion.last_post.topic, page: discussion.last_post.paginated_page ) }
									= discussion.last_post.created_at.to_s( :long )
									by
									= discussion.last_post.user