.container
	.row
		.col-xs-10
			%ol.breadcrumb
				%li
					%a{ href: swell_social.discussions_path }
						Discussions
				%li
					= @discussion
		.col-xs-2
			%a.btn.btn-success{ href: '#new_topic', data: { toggle: :modal, target: '#new_topic' } }
				%i.fa.fa-plus
				Post
	.row
		.col-xs-12
			%table.table
				%thead
					%th
					%th By
					%th Posted
					%th Replies
					%th Views
				- @discussion.topics.each do |topic|
					%tr
						%td
							= link_to topic.subject, discussion_topic_path( @discussion, topic )
						%td
							by
							= topic.user
						%td
							= topic.created_at.to_s( :long )
						%td
							= topic.posts.count
						%td
							= topic.cached_impression_count


= render 'swell_social/discussion_topics/new_modal'
