
- if params[:page].nil?
	$("#{@target}").html("#{j render(template: 'swell_social/comments/index.html', locals: {}, layout: false)}").trigger('ready.subsequent')
- else
	$("#{@target} .comments-for-page-#{@comments.current_page}").replaceWith("#{j render(partial: 'swell_social/comments/paged.html.haml', locals: { comments: @comments, args: {} })}").trigger('ready.subsequent')