.container
	.row
		.col-xs-10
			%ol.breadcrumb
				%li
					%a{ href: swell_social.discussions_path }
						Discussions
				%li
					%a{ href: swell_social.discussion_path( @discussion ) }
						= @discussion
				%li
					= @topic
		.col-xs-2
			%a.btn.btn-success{ href: '#new_post', data: { toggle: :modal, target: '#new_post' } }
				%i.fa.fa-plus
				Post
	= render 'swell_social/discussion_topics/topic', topic: @topic, args: {}

	- @posts.each do |post|
		= render 'swell_social/discussion_posts/post', post: post, args: {}


= render 'swell_social/discussion_posts/new_modal'