$('#first-comment-header').hide();

- if params[:position] == 'append'
	$('#comments').append("#{j render(partial: 'user_posts/comment', locals: { parent_obj: @parent_obj, user_post: @post, args: { reply_to: current_user.id, placeholder: 'Write a reply'}})}");
- else
	$('#comments').prepend("#{j render(partial: 'user_posts/comment', locals: { parent_obj: @parent_obj, user_post: @post, args: { reply_to: current_user.id, placeholder: 'Write a reply'}})}");

$('#new-comment-form#{params[:reply_to_id]}').html("#{j render(partial: 'user_posts/comment_form', locals: {parent_obj: @parent_obj, args: { position: params[:position], reply_to: params[:reply_to_id], placeholder: 'Thanks for your comment!'}})}");

$('#comment-reply-#{params[:reply_to_id]}').removeClass('in');

- if params[:position] == 'append'
	$('html, body').animate({ scrollTop: $('#new-comment-form').offset().top + $('#new-comment-form').height() - $( window ).height() + 100}, 1000);
- else
	$('html, body').animate({ scrollTop: $('#comments').offset().top - 100}, 1000);
