
- unless parent_obj.user == current_user
	%span#vote_widget{ style: 'font-size:110%;line-height:0.7em' }
		- if vote = SwellSocial::Vote.where( user_id: current_user.try( :id ), parent_obj_id: parent_obj.id, parent_obj_type: parent_obj.class.name ).last
			- if vote.up
				= link_to vote_path( vote ), title: 'Liked', data: { method: :delete }, remote: true, class: 'tool-tip like_widget upvote' do
					%i.fa.fa-thumbs-up
				- if parent_obj.cached_upvote_count > 0
					%span.upvote.val= number_to_human( parent_obj.cached_upvote_count, units: { thousand: 'K', million: 'M', billion: 'B' } )
				- else
					%span.upvote.val
				= link_to vote_path( vote ), data: { method: :patch }, remote: true, class: 'like_widget downvote' do
					%i.fa.fa-thumbs-o-down
				- if parent_obj.cached_downvote_count > 0
					%span.downvote.val= number_to_human( parent_obj.cached_downvote_count, units: { thousand: 'K', million: 'M', billion: 'B' } )
				- else
					%span.downvote.val
			- else
				= link_to vote_path( vote, up: true, :format => 'json' ), data: { method: :patch }, remote: true, class: 'like_widget upvote' do
					%i.fa.fa-thumbs-o-up
				- if parent_obj.cached_upvote_count > 0
					%span.upvote.val= number_to_human( parent_obj.cached_upvote_count, units: { thousand: 'K', million: 'M', billion: 'B' } )
				- else
					%span.upvote.val
				= link_to vote_path( vote, :format => 'json' ), title: 'Disliked', data: { method: :delete }, remote: true, class: 'tool-tip like_widget downvote' do
					%i.fa.fa-thumbs-down
				- if parent_obj.cached_downvote_count > 0
					%span.downvote.val= number_to_human( parent_obj.cached_downvote_count, units: { thousand: 'K', million: 'M', billion: 'B' } )
				- else
					%span.downvote.val
		- else
			= link_to votes_path( parent_obj_type: parent_obj.class.name, parent_obj_id: parent_obj.id, up: true, context: :like, :format => 'json' ), data: { method: :post }, remote: true, class: 'like_widget upvote' do
				%i.fa.fa-thumbs-o-up
			- if parent_obj.cached_upvote_count > 0
				%span.upvote.val= number_to_human( parent_obj.cached_upvote_count, units: { thousand: 'K', million: 'M', billion: 'B' } )
			- else
				%span.upvote.val
			= link_to votes_path( parent_obj_type: parent_obj.class.name, parent_obj_id: parent_obj.id, context: :like, :format => 'json' ), data: { method: :post }, remote: true, class: 'like_widget downvote' do
				%i.fa.fa-thumbs-o-down
			- if parent_obj.cached_downvote_count > 0
				%span.downvote.val= number_to_human( parent_obj.cached_downvote_count, units: { thousand: 'K', million: 'M', billion: 'B' } )
			- else
				%span.downvote.val
